@charset "UTF-8";

.left li {
	float: left;
}

.right li {
	float: right;
}

.miao {
	height: 50px;
	/* width: 100%; */
	background-color: #F2F2F2;
}

.miao li {
	margin-left: 10px;
	margin-top: 20px;
	color: gray;
}
.jrpp{
	margin-top:100px;
	margin-bottom:100px;
	margin-left: 90px;
}
.jrxp{
	margin-left: 90px;
}

.right {
	margin-right: 25px;
	margin-top: -10px;
}

.miao a {
	color: gray;
}

.miao a:hover {
	color: red;
}

/* ++++++++++++++++++天猫精选 +++++++++++++++++++++++*/
.tianmaojingxuan {
	height: 200px;
	/* background-color: #00F7DE; */
}

.tianmaojingxuan img {
	float: left;
	height: 50px;
	position: absolute;
	left: 50px;
	top: 80px;
}

.sousuo {
	float: right;
	margin-top: -160px;
	margin-right: 100px;
}

.sousuo input {
	height: 37px;
	width: 300px;
}

.sousuo label {
	font-size: 5px;
}

/* .sousuo label span {
	line-height: 80px;
} */

/* ++++++++++++++++++++++女装++++++++++++++++++ */
.shangpinfuwu {
	width: 80%;
	display: inline-block;
}

.nvzhuang {
	background-color: #2C2C2C;
	margin-left: 190px;
	padding-top: 25px;
	height: 470px;
	width: 16%;
}
.nvzhuang li {
	/* color: white; */
	font-size: 20px;
	margin-bottom: 30px;
	margin-left:20px;
}
.nvzhuang a{
	color: white;
}
.nvzhuang a:hover{
	color: orange;
}
	

.shangpin {
	width: 173px;
	background-color: red;
	margin-left: 190px;
}

.shangpin span {
	color: white;
	font-size: 18px;
	margin-left: 35px;
}

/* ++++++++++++++++++++++++ */


/* ++++++++++++++++++尚天猫+++++++++++++++++++ */
.shangtianmao {
	margin-left: 280px;
	margin-top: -520px;
	margin-bottom: 50px;
	padding-left: 100px;
}

.shangtianmao li a:hover {
	color: red;
}
.shangtianmao ul{
	display: inline-block;
}
.shangtianmao li {
	display: inline;
	margin-left: 20px;
	font-size: 15px;
}
/* +++++++++++++++++++++++++++++++++++++++++ */
#test1 {
	left: 370px;
	top: -30px;
}

#test1 img {
	height: 100%;
	width: 100%;
}

/* +++++++++++++++++++++++++++++++++++++*/
.taoqianggou{
	margin-left: 1075px;
	margin-top: -10px;
}

.taoqianggou img {
	margin-top: -500px;
	height: 500px;
}

/* ++++++++++天猫儿童++++++++++++ */
.tiannmaoertong {
	margin-top: 50px;
	margin-left: 150px;
	width: 84%;
}

.tiannmaoertong img {
	width: 100%;
}

/* +++++++++++++++++++++++品质保障+++++++++++++++++ */
.you {
	margin-left: 150px;
}

.you img {
	height: 150px;
	width: 250px;
	margin-right: 15px;
}

/* ++++++++++购物指南+++++++++++++++++ */
.gouwuzhinan {
	width: 100%;
	height: 300px;
	/* background-color: #87CEEB; */
}

.gouwuzhinan>ul {
	list-style: none;
	float: left;
	margin-left: 100px;
	font-size: 15px;
	margin-right: 80px;
}

.mianfeizhuce {
	font-size: 20px;
	margin-bottom: 10px;
	color: gray;
}
.photo img{
	margin-left: -8px;
	margin-top: 30px;
	height: 100px;
	width: 100px;
}

.gouwuzhinan a {
	text-decoration: none;
	color: #808080;
}

.gouwuzhinan a:hover {
	text-decoration: underline;
}

/* +++++++++++++++++关于天猫++++++++++++++++++ */
.guanyutianmao {
	margin-top: -10px;
	height: 150px;
	width: 100%;
	background-color: black;
}
.top {
	margin-left: 80px;
	
}
.top li{
	margin-top: 20px;
	float: left;
	color: white;
	margin-right: 20px;
	font-weight: normal;
}
.middle li{
	margin-top: 10px;
	float: left;
	color: white;
	margin-right: 20px;
	font-weight: normal;
	display: block;
}
/*----------------------------详情-----------------  */
.photoDe img{
	height:420px;
	width:310px;
	margin-left:150px;
	/* display: inline-block; */
}
.photoDe div{
	width:650px;
	height:50px;
	/* background-color: green; */
	/* margin-left:360px; */
	margin-bottom:20px;
}
.goodsDe{
	margin-top:-420px;
	margin-left:560px;
}
.goodsName{
	font-size:16px;
}
.price{
	line-height:45px;
	margin-right:160px;
	color:grey;
}
.priceN{
	line-height:45px;
	color:red;
	font-size:25px;
}
.pribck{
	width:45px;
	height:45px;
	background-color: #ECEBEB;
	margin-top:-20px;
	/* margin-bottom:80px; */
}
.saleCount{
	margin-right:80px;
	color:grey;
}
.saleNu{
	color:red;
	font-size:14px;
}
.goodsType{
	color:grey;
	margin-right:70px;
}
.stock{
	color:grey;
	margin-right:85px;
}
.count{
	color:grey;
	margin-right:85px;
}
.countIn{
	width:35px;
	height:28px;
	margin-right:20px;
}
.jian{
	color:grey;
}
#buy{
	width:181px;
	height:41px;
	margin-left:30px;
	border:1px red solid;
	background-color: #FFEDED;
	display:inline-block;
	cursor:pointer;
}
#linkB{
	color:red;
	font-size:18px;
}
#buyDis{
	line-height:41px;
	margin-left:50px;
}
#buyAd{
	width:181px;
	height:41px;
	margin-left:30px;
	border:1px red solid;
	background-color: red;
	display:inline-block;
	cursor:pointer;
}
#linkAd{
	color:#fff;
	font-size:18px;
}
#buyDisAd{
	line-height:41px;
	margin-left:45px;
}

/*----------------- 购物车-------------- */
.CarList{
	padding-top:50px;
}
.car img{
	width:103px;
	height:103px;
	
}
.car{
	margin-bottom:20px;
	background-color: #FFF8F8;
	width:90%;
	height:150px;
	padding-left:30px;
	margin-left:25px;
}
.car div{
	width:150px;
	height:20px;
	margin-left:45px;
	display:inline-block;
	margin-top:25px;
}

/*-------------------  */
.goodsMes div{
	display:inline-block;
	margin-right:143px;
	line-height:50px;
}
.goodsHead{
	padding-left:315px;
	height:50px;
}
.goodsHead span{
	margin-right:263px;
	color:grey;
	font-size:15px;
}
.goodsMes{
	/* background-color: #FFF8F8; */
	padding-left:315px;
	height:50px;
}

/*----------------------------------  */
.allSelect{
	margin-left:56px;
	height:70px;
}
#settleMent{
	display:inline-block;
	width:165px;
	height:50px;
	background-color: red;
	cursor: pointer;
}
#gb{
	line-height:50px;
	margin-left:50px;
	color:#fff;
}
.allSelect label{
	margin-right:725px;
	line-height:70px;
}
.selected{
	margin-right:30px;
}
.dzf{
	color:red;
	font-size:18px;
	margin-left:48px;
}
.carP{
	color:red;
	font-size:17px;
}
.sub{
	width: 30px;
    font-size: 15px;
    height: 30px;
    border: 1px solid #E1E1E1;
    display: inline-block;
    background: white;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    margin-right:2px;
}
.plus{
	width: 30px;
    font-size: 15px;
    height: 30px;
    border: 1px solid #E1E1E1;
    display: inline-block;
    background: white;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    margin-left:-18px;
}

/* -------------------------多选按钮 */
.shop{
	width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    outline: none;
}
#allShop{
	width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    outline: none;
}
/* input[type="checkbox"]:checked {
    background-position: center center;
    background-color:red;
    width: 20px;
    height: 16px;
    top: 0;
    left: 0;
    background-size: contain;
} */
.shIM{
	cursor: pointer;
}
.shIM img{
	width: 15px;
    height: 15px;
}
.Cgood{
	 margin-left:10px;
	 margin-right:10px;
}
.TP{
	margin-left:10px;
	margin-right:10px;
	display:inline-block;
}
.Addre{
	display:inline-block;
	margin-right:100px;
	padding-left:30px;
	margin-bottom:30px;
	width:200px;
	height:150px;
	cursor: pointer;
	border:2px solid #EEEEEE;
	padding-top:15px;
}
.address{
	display:inline-block;
}
.receName{
	display:inline-block;
}
.tel{
	display:inline-block;
}
.roadAddress{
	display:inline-block;
}
.Addre div{
	color:grey;
}
.AddreMar{
	margin-left:130px;
	margin-bottom:60px;
	margin-top:98px;
}
.selBuy{
	margin-bottom:50px;
	margin-left:70px;
	font-size:15px;
}
.conFirM{
	margin-left:70px;
	font-size:15px;
}
.aw{
	margin-left:138px;
	margin-bottom:50px;
}
.alipay{
	margin-right:100px;
}
.del{
	cursor: pointer;
}
.update{
	cursor: pointer;
}
.addAddress{
	cursor: pointer;
	display:inline-block;
	width: 200px;
    height: 160px;
    border:2px solid #EEEEEE;
    position:absolute;
    margin-top:2px;
}
.newAdd{
	line-height:160px;
	margin-left:65px;
}
/* .addAddress{
	display: inline-block;
	margin-top:-30px;
} */
.addre_div{
	/* display: block; */
	position:absolute;
	margin-left:30px;
}
.selectAWord{
	font-size:15px;
	margin-left:70px; 
	margin-top:30px;
	position:absolute;
}
.del{
	margin-left:50px;
	color:grey;
}
.update{
	color:grey;
}
.hhh{
	width: 232px;
    height: 180px;
    background-color:#EEEEEE;
    margin-left:-30px;
}
.addbck{
	width: 232px;
    height: 180px;
    background-color:#EEEEEE;
    margin-left:-30px;
}
.mar_div{
	width: 100%;
    height: 100%;
    background-color:#FFF8F8;
}
.buySuccess{
	margin-left:350px;
	margin-top:-100px;
	margin-bottom:200px;
}
.orderW{
	position:absolute;
	margin-left:50px;
	margin-top:10px;
}
.orderW strong{
	font-size:25px;
	color:grey;
}
.OrderReceAddre{
	width:100%;
	height:50px;
	margin-left:200px;
}
.OrderReceAddre span{
	margin-right:50px;
	font-size:18px;
	color:gray;
}
.orDN{
	/* position:absolute; */
	display:inline-block;
	margin-left:200px;
	margin-bottom:80px;
	width:300px;
	height:50px;
	/* background-color:red; */
}
.orT{
	margin-left:40px;
}
.orT span{
	margin-right:100px;
	color:grey;
}
#Odp{
	margin-left:180px;
	color:red;
}
.zje{
	margin-left:1080px;
}
.zje span{
	color:red;
	font-size:20px;
}
.ckdd{
	color:orange;
}
.zgg{
	positon:absolute;
	margin-left:250px;
	margin-top:10px;
}
.ck{
	margin-left:250px;
	margin-top:-60px;
}

.rmb{
	margin-right:-40px;
	color:red;
	font-size:17px;
	margin-left:40px;
}
.carO div{
	margin-right:30px;
}
#rb{
	margin-right:-170px;
	margin-left:160px;
	color:red;
	font-size:17px;
}
.totalPrice{
	color:red;
	font-size:17px;
}
.imm{
	color:red;
	font-size:17px;
}
.settl{
	color:red;
	font-size:17px;
}


